@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui" {
  themes:
    light --default,
}

@keyframes spin-slow {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}
